<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>We'll right back</title>
</head>
<body>
    <h1>We'll be right back!</h1>

    <p>Sorry for the inconvenience but we are working for you!</p>
    
    {{> footer}}
</body>
</html>